@import '~/styles/vars.scss';

.home {
  height: 100%;
  width: 100vw;
  background-color: $color-mauve-4;
  display: flex;
  margin: 0;
}
.home-link {
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr;
  // espacement en fonction de la hauteur de l'écran
  grid-row-gap: 10vh;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home-logo {
  background-color: white;
  border-radius: 50%;
  border: 3px solid $color-orange-0;
  // Taille du logo en fonction de la hauteur de l'écran
  height: 55vh;
  // Taille max du logo en fonction de la largeur de l'écran
  max-height: 80vw;
  padding: 1rem;
  margin: auto;
  // margin: 3rem auto;
  box-shadow: 1px 1px 6px 2px rgba(255,255,255,0.6);
  transition: box-shadow 1s;
  &:hover {
    box-shadow: 1px 1px 35px 20px rgba(255,255,255,0.6);
  }
}
.home-button {
  background-color: $color-mauve-4;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  box-shadow: 1px 1px 6px 2px rgba(255,255,255,0.6);
  border-radius: 8px;
  font-weight: bold;
  padding: 0 1rem;
  transition: box-shadow 1s;
  justify-self: center;
  &:hover {
    box-shadow: 1px 1px 35px 10px rgba(255,255,255,0.6);
  }
}
