@import '~/styles/vars.scss';

.contain-dash {
    width: 75%;
    margin: auto;
}

.titre {
    color: $color-vert-0;
    margin: 2rem auto 5rem auto;
    text-align: center;
    
}

.dash-links {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 2.5rem;
    align-items: center;
    margin: auto;
}

@media (min-width: 769px) {
    .dash-links {
        grid-template-columns: repeat(auto-fit, minmax(230px, 235px));
        grid-column-gap: 2rem;
    }
}
