@import '~/styles/vars.scss';

.view-profile {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
    
  
}
.view-edit {
  order: -1;
}




.left {
  text-align: left;
}
.right {
  text-align:right;
  justify-content: end;
}

.view-logo {
  max-width: 10rem;
  grid-column: 1 / -1;
  margin: auto;

}



@media (min-width: 768px) {

  .view-profile {
    grid-template-columns: 1fr 1fr;
    min-width: 35rem;
  }
  .right {
    text-align:left;
    justify-content: start;
  }
  .view-edit {
    order: 0;
  }
}
