@import '~/styles/vars.scss';
.navVHead {
  background-color: $color-mauve-4;
  width: 100%;
  display: grid;
  grid-template-columns: 14fr 1fr 1fr 1fr;
  justify-content: end;
  justify-items: end;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
}
.navVHead-item {
  color: white;
  margin: 0.5rem;
}
.user {
  width: 18px;
  height: 18px;
  background-color: white;
  color: $color-mauve-4;
  border-radius: 25px;
  padding: 0.1rem;
  box-sizing: border-box;
}
.question {
  width: 20px;
  height: 20px;
}
.signout {
  min-width: 20px;
  min-height: 20px;
  background-color: $color-mauve-4;
  border: none;
  &:focus {
    border: none !important;
  }
  &:active {
    border: none !important;
  }
}
.navV-contain {
  width: max-content;
  background-color: $color-mauve-4;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  min-height: 300px;
  .no-wrap {
    flex-wrap: nowrap;
  }
}

.NavV-logo {
  display: block;
  background-color: white;
  border-radius: 50%;
  border: 3px solid $color-orange-0;
  width: 8rem;
  height: 8rem;
  margin-right: 0.5rem;
  box-shadow: 1px 1px 6px 2px rgba(255,255,255,0.6); 
}

.navVLink {
  color: white;
  text-transform: uppercase;
  margin: 1.5rem auto;
  font-weight: 400;
  width: 100%;
  text-align: left;
  transition: 0.3s;
}
.navVLink:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.dropdownBtn {
  border-radius: 0;
  background-color: $color-mauve-4;
  border: none;
}
.dropdown-menu {
  background-color: rgba( 92, 8,149,0.6);
  border-radius: 0;
  border: none;
}
.dropdown-item {
  color: white;
}

@media (min-width: 769px) {
  .page-container {
    grid-template-columns: auto 1fr;
  }
  .navVHead {
    grid-column: 2 / -1;
  }
  .navV-contain {
    grid-column: 1 / 2;
    grid-row: 1 /-1;
    padding: 1rem 0 0 0.5rem;
    border-right: 2px solid $color-mauve-4;
    * {
      transition: opacity 0.5s;
    }
    button:focus {
      box-shadow: none;
    }
  }
}