@import '~/styles/vars.scss';

.btn-fact-home {
    border: 3px solid $color-mauve-4;
    background-color: white;
    color: $color-mauve-4;
    padding: 0.5rem;
    border-radius: 15px;
    margin: 2rem auto;
    text-align: center;
    grid-area: btnFacture;
}
.facture-create-button {
    justify-self: center;
    align-items: center;
    grid-area: addFacture;
}
.page-container-facture {
    padding-top: 2rem;
    display: grid;
    grid-template-areas:
        "addFacture"
        "title"
        "listFacture"
        "btnFacture"
        "facturesEchues";
}
.titre {
    margin: 1rem 0;
}

@media (min-width: 768px) {
    .page-container-facture {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: none;
        align-items: baseline;
        justify-content: space-between;
    }
    .facture-create-button {
        grid-area: auto;
    }
    .btn-fact-home {
        grid-area: auto;
    }
}