.invoice-content {
  margin: auto;
  width : 827px;
  height: 1170px;
  border: 5px solid rgba(255,162,101,1);
  background-color: white;
}

.invoice-content-border {
  margin: 2rem;
}


.purple-border {
  border: 3px solid rgba(92,  8,149,1);
}

.ecart {
  margin-bottom: 1.5rem;
}

.inside-products {
  margin: 2rem 1rem 1rem 1rem;
}

.th {
  border: 1px solid black;
  font-size: 0.7rem;
  margin-right: 0.73rem;
  padding: 1rem;
  padding-left: 0.3rem;
  text-align: left;
}

.thd {
  border: 1px solid black;
  font-size: 0.7rem;
  padding: 1rem;
  padding-left: 0.3rem;
  text-align: left;
}

.tr {
  font-size: 0.7rem;
  margin-right: 0.73rem;
  padding: 1rem;
  padding-left: 0.3rem;
  text-align: left;
}

.trd {
  font-size: 0.7rem;
  padding: 1rem;
  padding-left: 0.3rem;
  text-align: right;
}

.date {
  text-align: right;
  margin-right: 2rem;
}

.invoice-ref {
  margin: auto;
  text-align: center;
}

.invoice-ref p {
  margin-top: 1rem;
}