@import '~/styles/vars.scss';

.dashboard-nav {
  height: 5rem;
  background-color: $color-mauve-4;    
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: fixed;
  width: 100%;
}

.brand-logo {
  background-color: white;
  border-radius: 50%;
  border: 3px solid $color-orange-0;
  padding: 0.3rem;
  width: 4rem;
  height: 4rem;                
}
.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0;
}

.brand-name {
  color: white;
  text-transform: uppercase;  
}
.nav-burger {
  background-color: $color-mauve-4;
  background-image: none;
}
.nav-list {
  width: 100vw;
  background-color: $color-mauve-4;
  .nav-item {
    padding: 0.8rem 0 1rem 2rem;
    width: 100vw;
    margin-left: 0;
    background-color: $color-mauve-4;
  }
  .nav-item:hover {
    background-color: rgba( 92,  8,149,0.6);
  }
  a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
}
.navbar-toggler-icon {
    fill: white;
}
.navbar-dark .navbar-toggler {
    color: white !important;
}