@import '~/styles/vars.scss';

.form.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 60%;
  &-title {
    grid-column: 1 / -1;
    text-align: left;
    justify-self: left;
  }
  &-btn {
    grid-column: 1 / -1;
    padding: 0.8rem;
    background-color: $color-vert-0;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px rgba(129,224,224,0.5);
    font-weight: bold;
    &:focus {
      border: 1px solid $color-vert-0;
      outline: none;
    }
    &:active {
      border: 1px solid $color-vert-0;
      outline: none;
    }
  }
}

.login-modal {
  padding: 0 2rem ;
  width: 150px;
  
  .modal-content {
    width: 50%;
    margin: auto;
  }
}