{% extends 'base.html.twig' %}

{% block title %}Edit InvoiceHasProduct{% endblock %}

{% block body %}
    <h1>Edit InvoiceHasProduct</h1>

    {{ include('invoice_has_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('invoice_has_product_index') }}">back to list</a>

    {{ include('invoice_has_product/_delete_form.html.twig') }}
{% endblock %}