@import '~/styles/vars.scss';

.title-invoice {
  color: $color-vert-0;
  text-align: center;
  margin-top: 1rem;
}
.custom-modal {
  max-width: none;
  width: 90%;
  display: grid;
  align-content: center;
}
.modal-content {
  width: 90%;
}
.page-container-invoice-create {
  height: 100%;
  padding-bottom: 2rem;

  .fieldSelect {
    border: 1px solid $color-mauve-4;
    background-color: white;
    padding: 0.5rem;
  }

  .status {
    max-width: 12rem;;
    margin: auto;
  }
  .modal-button {
    background-color: $color-mauve-4;
    border-radius: 0;
    border: 1px solid $color-mauve-4;
    transition: background-color 0.5s;

    &:hover {
      background-color: $color-mauve-0;
    }
    &:active {
      box-shadow: none !important;
      background-color: $color-mauve-4 !important;
      color: white !important;
      border: 1px solid $color-mauve-4 !important;
    }
  }

  .form-create-invoice {
    display: grid;
    grid-row-gap: 1rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    &-field {
      margin: auto;
      width: auto;
      max-width: 10rem;
      border: 1px solid $color-vert-0;
      box-shadow: 1px 1px 5px 2px rgba(47,186,186,0.5);
      &-disable {
        border: 1px solid $color-orange-0;
        box-shadow: 1px 1px 5px 2px rgba(255,139, 64,0.5);
        background-color: rgba(255,139, 64,0.2);
      }
    }
    &-radio-label {
      padding: 0 0.5rem;
    }
    &-label {
      color: $color-vert-4;
      &-disable {
        color: $color-orange-4;
      }
      
    }
   

    .add-client {
      margin: auto;
      display: flex;
      position: relative;

      &-remise {
        width: 60%;
        margin: auto;
        display: grid;
        grid-row-gap: 0.2rem;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        text-align: center;
      }
    }
   

    .add-product {
      text-align: center;
      display: grid;
      grid-row-gap: 1rem;
      margin: auto;

      &-select {
        margin: auto;
        display: grid;
        grid-row-gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        &-product {
          display: flex;
          margin: auto;
          grid-column: 1 / -1;
          position: relative;
          .fieldSelect {
            justify-self: center;
          }
        }
        .btn-remove {
          grid-column: 1 / -1;
          justify-self: flex-end;
          color: red;
          background-color: white;
          border: none;
          cursor: pointer;
        }
      }
    }

    .form-mentions {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: auto;
      color: $color-mauve-4;
      &-field {
        border: 1px solid $color-mauve-4;
      }
    }
  
  }


  .form-btn {
    background-color: $color-mauve-4;
    color: white;
    border-radius: 0px;
    margin: auto;
    border: 1px solid $color-mauve-4;
    &-add-product:focus {
      border: 5px solid red;
    }  

    &:focus {
      box-shadow: none;
      background-color: $color-mauve-4;
      color: white;
      border: 1px solid $color-mauve-4;
    }

    &:hover {
      background-color: white;
      color: $color-mauve-4;
      border: 1px solid $color-mauve-4;
      box-shadow: 1px 1px 5px 2px rgba(92, 8,149,0.5);
    }

    &-submit {
      margin-top: 2rem;
    }
  }

  .form-btn-calcul {
    background-color: $color-vert-0;
    border: none;
    border: 1px solid $color-vert-0;
    border-radius: 0px;
    margin: auto;
    &-product {
      grid-column: 1 / -1;
    }
    &:hover {
      background-color: white;
      color: $color-vert-0;
      border: 1px solid $color-vert-0;
      box-shadow: 1px 1px 5px 2px rgba(47,186,186,0.5);
    }
    &:active {
      box-shadow: 1px 1px 5px 2px rgba(47,186,186,0.5);
    }
    &:focus {
      box-shadow: 1px 1px 5px 2px rgba(47,186,186,0.5);
    }
  }
}
// bouton Ajouter un produit
#btn-activated:active {
  box-shadow: none;
  background-color: $color-mauve-4;
  color: white;
  border: 1px solid $color-mauve-4;
}

// bouton Calcul
#root > div > div.page-container-invoice-create > form > div.add-product > div > button.form-btn-calcul:active {
  background-color: $color-vert-0;
  color: white;
  border: 1px solid $color-vert-0;
  box-shadow: 1px 1px 5px 2px rgba(47,186,186,0.5);
}

// bouton Calcul Total
#root > div > div.page-container-invoice-create > form > div.add-product > button.form-btn-calcul.btn.btn-secondary:active {
  background-color: $color-vert-0;
  color: white;
  border: 1px solid $color-vert-0;
  box-shadow: 1px 1px 5px 2px rgba(47,186,186,0.5);
}

// bouton Générer votre facture
#root > div > div.page-container-invoice-create > form > button:active {
  box-shadow: none;
  background-color: $color-mauve-4;
  color: white;
  border: 1px solid $color-mauve-4;
}
