@import '~/styles/vars.scss';

.page-container-product {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "addProduct"
    "title"
    "listProducts";

}
.product-create-button {
    justify-self: center;
    align-items: center;
    grid-area: addProduct;
}

.contain-products {
  grid-column: 1 / -1;
}

.titl-product {
  color:$color-orange-0;
  font-size: 2rem;
  grid-area: title;
}

.list-prod-btn {
  margin: auto;
}

.view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr 0.5fr;
  width: 90%;
  margin: 2rem auto;
  grid-gap: 1rem;
  border: 2px solid $color-orange-0;
  box-shadow: 1px 1px 20px 2px $color-orange-0;
  padding: 2rem;
  color: $color-mauve-4;

  &-title {
    font-size: 1.5rem;
    justify-self: end;
    color: $color-vert-0;
    margin-bottom: 2rem;
    margin-left: 2rem; 
  }
  &-link {
    color: $color-orange-0;
    justify-self: end;
    padding-right: 2rem;
    &-icon {
      margin-right: 1rem;
    }
    &:hover {
      color: $color-orange-1;
    }
  }
}



@media (min-width: 768px) {
  .page-container-product {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: none;
      align-items: baseline;
      justify-content: space-between;
  }
  .product-create-button {
      grid-area: auto;
  }
  .titl-product {
    grid-area: auto;
  }
  .view {
    margin: 4rem auto;
    width: 40%;
  }
}