@import '~/styles/vars.scss';

.factures-echues {
    border: 3px solid $color-orange-0;
    border-radius: 26px;
    padding: 1rem;
    background-color: rgba(255,255,255,0);
    box-shadow: 2px 2px 5px $color-orange-0;
    margin: 2rem 2rem 2rem 2rem;
    
}
.factures-echues-head {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    color: $color-orange-0;
    align-items: baseline;
}
.factures-echues-title {
    color: $color-orange-0;
    text-align: center;
}
.facture-echue-contain {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    color: $color-orange-0;
    align-items: baseline;
    
}
.facture-echue-item {
    margin: 0.5rem;
}
.bell {
    margin: 0 auto;
}

@media (min-width: 768px) {
    
    .factures-echues {
        margin-right: 1rem;  
    }
}