@import '~/styles/vars.scss';

.list-contain-facture {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 3fr max-content 1fr 1fr 1fr;
    border: 1px solid $color-mauve-4;
    padding: 0.5rem;
    margin: 0.5rem 2rem;
    color: $color-mauve-4;
    align-items: center;

}
.list-item {
    display: flex;
    align-items: baseline;
    padding: 0.5rem;

}
.list-item--icon {
    margin: auto;
}
.chevron {
    font-size: 0.8rem;
    margin: 0 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .list-contain-facture {
        grid-template-columns: 3fr 2fr 2fr 2fr 1fr 1fr 1fr;
    }
}