@import '~/styles/vars.scss';
.modal-button {
  background-color: $color-mauve-4;
  border-radius: 0;
  border: 0px;
  &:hover {
    background-color: $color-mauve-0;
  }
}
.modal-icon {
  
  color: white;
}