{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<h3>Voici votre facture</h3>

Bonjour, {% if invoice.customer.pro %}
{% else %}
M,Mdm {{invoice.customer.lastname}}
{% endif %}
Voici votre facture du {{invoice.date}}, numero {{ invoice.reference }}
cordialement.

{% endblock %}
